.hero {
  background-image: image-url('cover.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
  color: var(--dark);
  font-weight: 700;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(179, 186, 187, 0.703);
  z-index: -1;
}
